/* screen - cv */

.cv {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2076px;
  width: 1440px;
}

.cv .navigation {
  align-items: center;
  background-color: var(--cod-gray);
  display: flex;
  gap: 421px;
  height: 152px;
  left: 0;
  padding: 0 80px;
  position: fixed;
  top: 0;
  width: 1440px;
  z-index: 3;
}

.cv .accueil {
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  margin-bottom: 2.0px;
  white-space: nowrap;
  width: 71px;
}

.cv .navbar {
  align-items: center;
  display: flex;
  gap: 56px;
  justify-content: flex-end;
  position: relative;
  width: 788px;
}

.cv .navbar-link {
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  line-height: 30px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.cv .button {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #0000000d;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 14px 24px;
  position: relative;
}

.cv .place {
  color: var(--black);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 69px;
}

.cv .image-cv-1 {
  align-self: center;
  height: 1656px;
  margin-right: 1.0px;
  margin-top: 230px;
  object-fit: cover;
  width: 1171px;
  z-index: 1;
}

.cv .group-13 {
  align-items: center;
  background-color: var(--black);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 58px;
  justify-content: flex-end;
  margin-right: 62.35px;
  margin-top: 70px;
  min-width: 161px;
  padding: 0 46.6px;
  z-index: 2;
}
