:root { 
  --black: #000000;
  --black-2: #000000bf;
  --bon-jour: #dfdfdf;
  --cod-gray: #090909;
  --gray: #828282;
  --white: #ffffff;
 
  --font-size-32px: 32px;
  --font-size-l: 36px;
  --font-size-m: 24px;
  --font-size-s: 20px;
  --font-size-xl: 45px;
  --font-size-xs: 16px;
  --font-size-xxl: 57px;
  --font-size-xxxl: 64px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-jacques_francois: "Jacques Francois", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.m3displaymedium {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.m3displaylarge-emphasized {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.25px;
}

.m3displaysmall-emphasized {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.m3headlinesmall {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.body-text {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.small-text {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.title {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.28px;
}

.subheading {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.subtitle {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-32px);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.m3displaylarge {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.25px;
}
